# Part 2 : Data Science

 Upload the HISP dataset and build-up a Pandas Dataframe containing the label (health_expenditures) and the up-mentioned features. Show and comment some descriptive statistics related to this Dataframe.

In [1]:
import pandas as pd
df = pd.read_csv ('/Users/emmabourdit/Desktop/Dauphine_M2_IREN/Data science/Rendu/Projet Final/HISP.csv')

In [2]:
df_Before = df.loc[df['round'] == 'Before']
df_Before = pd.DataFrame(df_Before, columns = ['health_expenditures','poverty_index', 'age_hh', 'age_sp', 'educ_hh', 'educ_sp', 'female_hh', 'indigenous', 'hhsize','dirtfloor', 'bathroom', 'land', 'hospital_distance', 'park', 'sports'])
df_Before

,health_expenditures,poverty_index,age_hh,age_sp,educ_hh,educ_sp,female_hh,indigenous,hhsize,dirtfloor,bathroom,land,hospital_distance,park,sports
0,15.185455,55.950542,24.0,23,0.0,6.0,0,0,4,1,0,1,124.819966,0.771,8
2,13.076257,46.058731,30.0,26,4.0,0.0,0,0,6,1,0,2,124.819966,3.012,3
5,15.286353,54.095825,58.0,56,0.0,0.0,0,0,6,1,0,4,124.819966,2.289,6
7,11.311761,56.903400,35.0,24,3.0,0.0,0,0,7,1,0,2,124.819966,4.638,2
8,11.223912,46.908810,37.0,35,0.0,0.0,0,0,7,1,0,2,124.819966,3.623,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19818,14.214518,74.980682,46.0,38,5.0,3.0,0,1,7,0,0,2,162.748811,1.112,7
19820,13.606447,58.153015,38.0,41,3.0,2.0,1,1,7,1,1,3,162.748811,4.576,2
19822,16.811539,59.737247,52.0,41,0.0,2.0,0,1,7,0,1,2,162.748811,0.621,3
19823,15.906003,62.055641,51.0,40,5.0,2.0,0,1,5,1,1,1,114.763392,2.307,8
19825,8.737772,62.828438,58.0,49,3.0,0.0,0,1,9,1,1,4,114.763392,2.514,1

Show and comment some descriptive statistics related to this Dataframe.

In [3]:
df_Before[['health_expenditures','poverty_index', 'age_hh', 'age_sp', 'educ_hh', 'educ_sp', 'female_hh', 'indigenous', 'hhsize','dirtfloor', 'bathroom', 'land', 'hospital_distance', 'park', 'sports']].describe(include='all')

,health_expenditures,poverty_index,age_hh,age_sp,educ_hh,educ_sp,female_hh,indigenous,hhsize,dirtfloor,bathroom,land,hospital_distance,park,sports
count,9913.000000,9913.000000,9913.000000,9913.000000,9913.000000,9913.000000,9913.000000,9913.000000,9913.000000,9913.000000,9913.000000,9913.000000,9913.000000,9913.000000,9913.000000
mean,17.210985,56.790404,46.200353,40.183900,2.833289,2.617573,0.099062,0.352870,5.178553,0.603652,0.615959,2.079492,105.319595,2.518121,5.524362
std,5.588098,10.685997,15.285329,12.794188,2.754699,2.543095,0.298760,0.477887,2.195223,0.489163,0.486392,3.133165,42.063589,1.437306,2.870390
min,6.252154,20.479134,14.000000,14.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,9.465392,0.001000,1.000000
25%,13.021940,49.652241,34.000000,30.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,72.804218,1.278000,3.000000
50%,16.839489,56.414219,45.000000,41.000000,2.000000,2.000000,0.000000,0.000000,5.000000,1.000000,1.000000,1.000000,113.556497,2.541000,6.000000
75%,21.053459,62.905720,57.000000,47.000000,4.000000,4.000000,0.000000,1.000000,7.000000,1.000000,1.000000,3.000000,141.097735,3.749000,8.000000
max,35.626358,100.000000,88.000000,87.000000,16.000000,17.000000,1.000000,1.000000,13.000000,1.000000,1.000000,23.000000,170.457647,5.008000,10.000000

# First model

In [8]:
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import linear_model as lm

In [9]:
x = df_Before[['poverty_index', 'age_hh', 'age_sp', 'educ_hh', 'educ_sp', 'female_hh', 'indigenous', 'hhsize','dirtfloor', 'bathroom', 'land', 'hospital_distance', 'park', 'sports']]
y = df_Before[['health_expenditures']]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2) #to split the dataset

In [17]:
model = lm.LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [18]:
pd.DataFrame(model.coef_[0], x.columns, columns = ['Coeff'])

                      Coeff
poverty_index      0.051677
age_hh             0.068312
age_sp             0.012423
educ_hh            0.157066
educ_sp           -0.048563
female_hh          1.638589
indigenous        -2.727109
hhsize            -2.002051
dirtfloor         -2.559948
bathroom           0.379575
land               0.192607
hospital_distance  0.000419
park              -0.015035
sports             0.000807

In [19]:
print(model.intercept_)

[22.37253711]

In [20]:
from sklearn import metrics

In [27]:
predictions = model.predict(x_test)

In [28]:
metrics.mean_squared_error(y_test, predictions)

1.0744508744419625